<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="ion-chevron-left">
  back
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive fade-in-not-out">

  <!-- Categories -->
  <ion-tab title="Categories" icon-off="ion-earth" icon-on="ion-android-globe" ui-sref='home.categories'>
    <ion-nav-view name="categories" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Completed -->
  <ion-tab title="Completed" icon-off="ion-android-done" icon-on="ion-android-done-all" ui-sref='home.completed' >
    <ion-nav-view name="completed"></ion-nav-view>
  </ion-tab>

  <!-- Outstanding -->
  <ion-tab title="Outstanding" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref='home.active'>
    <ion-nav-view name="active"></ion-nav-view>
  </ion-tab>


  <!-- Subscriptions -->
  <ion-tab title="Subscriptions" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" ui-sref="home.subscriptions">
    <ion-nav-view name="subscriptions"></ion-nav-view>
  </ion-tab>
</ion-tabs>



