<style type="text/css">
.pane, .view {
  background-image: url("../../../img/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; }
</style>
  
  <ion-content has-header="true" padding='true' ng-hide='loggedIn'>

  <div class="welcome"> Welcome! </div>

    <div class="padding">
      <a ng-click='showPopup()'>
        <button class="button button-block button-positive">
          Sign-In
        </button>
      </a>
    </div>
  </ion-content>

  <h1><span ng-model='frontPageTask'></span> </h1>
    <h2 class="usernamehead" ng-if='loggedIn' align='center'> Hello, <span ng-bind='username'></span> </h2>
    <div class="random_task" ng-if='loggedIn' ng-bind='frontPageTask'>
    </div>

  <ion-content has-header="true" padding='true' ng-if='loggedIn'>
  <h1><span></span> </h1>
    <div class="ion-gear-a" ng-click='gearButton()' id="12505button">
    </div>
  </ion-content>
