
  <ion-content has-header="true" padding='true'>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model='credentials().email'>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model='credentials().password'>
      </label>
    </div>
    <div class="padding">
      <a ng-click='submit()'>
        <button class="button button-block button-positive">
          Sign-In
        </button>
      </a>
      <p class="text-center">
        <a>Or</a>
      </p>
      <a ui-sref='randomact'>
        <button class="button button-block button-positive">
          Random Act of Kindness
        </button>
      </a>
    </div>
  </ion-content>
