<ion-view hide-back-button="true">
	<ion-slide-box on-slide-changed="slideChange($index)" active-slide='1'>
    <ion-slide>
      <div class="box blue">
        state not loaded
        <ion-nav-view name='categories'></ion-nav-view>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Slide 2!
        <ion-nav-view name='active'></ion-nav-view>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        state not loaded
        <ion-nav-view name='subscriptions'></ion-nav-view>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>



